{
  "presets": ["env", "react", "stage-2"],
  "env": {
    "esnext": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "react",
        "stage-2"
      ]
    }
  }
}
