{
  "extends": ["@researchgate/rg-base", "@researchgate/rg-react"],
  "parser": "babel-eslint",
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ]
  }
}
